<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-P2V4zEFGS3euV9UI31o0BEpPz5xioCB0iv7ZY3lXi89BOyjM8yv3ahpfO5l5Z1zI" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'inicio' %}">Citas Médicas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registrar_paciente' %}">Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lista_paciente' %}">Pacientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registrar_medico' %}">Registar medicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lista_medicos' %}">Lista Medicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reserva' %}">Reservar Cita</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'agenda' %}">Agenda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lista_citas' %}">Ver lista de citas médicas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="position: absolute; right: 10px; top: 0; color: red;" href="#" class="nav-link">En Desarrollo</a>
            </li>
           
        </ul>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'exit' %}" >Salir</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" >Ingresar</a>
        </li>
        {% endif %}
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
